@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,600&family=DM+Serif+Display&family=Merriweather&family=Source+Serif+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'DM Serif Display', serif;
    box-sizing: border-box;
}

/* Nav section */
#logo {
    float:left;
}

#logo a{
    text-decoration: none;
    color: rgb(66, 3, 3);
}

#logo a:hover{
    color: rgb(234, 4, 35);
}

#main-menu{
    padding: 1em;
}

#main-menu a{
    text-decoration: none;
    color:brown;
    float: right;
    padding-left: 2em;
}

#main-menu a:hover{
    color: rgb(51, 1, 1);
}

#main-menu li{
    list-style-type: none;
    display: inline;
    padding-left: 1.5em;
}

/* clubs image */
.main-image{
    height: 450px;
    width: 50%;
    float: left;
    padding-right: 2em;
}

/* BD Poriahad heading */
#bd-text{
    display: block;
    text-align: center;
    height: 450px;
}

.heading-bd{
    padding-top: 3em;
    color: rgb(101, 73, 4);
}

.bd-text-p{
    padding: 1em;
    text-align: justify;
}

/* About us section */
#about-bd-porishad{
    background-color: rgb(195, 190, 183);
    padding: 1.5em;
    text-align: justify;
}

.about-section-heading{
    text-align: center;
    padding: 1em;
}

.about{
    text-align: center;
    padding-bottom: 1em;
}

.table-heading{
    padding: 1em;
}

table, td, th{
    border: 1px solid black;
}

/* Sign Up Section */
#sign-up-form{
    box-sizing: border-box;
    display: block;
    background-color: rgb(217, 212, 234);
}

.form{
    text-align: center;
    padding-bottom: 2em;
}

.form-heading{
    text-align: center;
    padding:1em;
}

/* Contact section */
#contact-us{
    text-align: center;
    background: black;
    color: white;
    padding: 1em;
}

/* Anchor tag go top of the page */
.go-top a{
    float: right;
    color:rgb(212, 240, 67)
}

/* Social media link */
.social-link{
    padding: 1em;
    margin-top: 1em;
}

.social-link a{
    text-decoration: none;
    text-transform: uppercase;
    padding-inline-start: 3em;
    color:rgb(32, 225, 22);
}

.social-link a:hover{
    color: inherit;
}

/* For large to medium screen sizes from 1200px wide and down */
@media screen and (max-width:1200px){
    #porishad-image{
        padding-top: 8px;
    }
    
    .main-image{
        height: 400px;
        width: 50%;
        float: left;
        padding-right: 2em;
    }
    
    #bd-text{
        display: flex;
        text-align: center;
        height: 400px;
        margin-top: 2em;
    }
}

/* For medium screen size from 768px wide and down */
@media screen and (max-width:768px){ 
    #main-menu{
        padding: 1em;
    }

    .main-image{
        height: 300px;
        width: 50%;
        float: left;
        padding-right: 2em;
    }
    
    #bd-text{
        display: block;
        text-align: center;
        height: 268px;
    }
    
    .heading-bd{
        padding-top: 1.5em;
        color: rgb(101, 73, 4);
    }
    
    .bd-text-p{
        padding: 1em;
        text-align: justify;
    }
}