@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,600&family=DM+Serif+Display&family=Merriweather&family=Source+Serif+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'DM Serif Display', serif;
    box-sizing: border-box;
}